@import "../dist/spline";

$gradient: linear-gradient(20deg, blue, red, green 100%);

// Forward Gradient
.gradient {
    background: $gradient;
}

// Reverse Gradient
.reverse-gradient {
    background: reverse-gradient($gradient);
}